<!DOCTYPE html>
<html>
  <head>
    <title>Trunkless</title>
<style>
  div.line:not(.unpinned) {
    font-weight: bold;
  }
</style>
  </head>
  <body>
    <template id="line-editor-tmpl">
      <form style="display:inline">
        <input type="text" name="editedLine" style="min-width: 50em">
        <input type="submit" style="display: none">
      </form>
    </template>
    <template id="linetmpl">
      <span class="linecontrols">
        <button is="line-pinner">pin</button>
        <button is="line-editor">edit</button>
        <button is="line-upper">up</button>
        <button is="line-downer">down</button>
        <button is="line-remover">remove</button>
      </span>
      <span is="dna-square"></span>
      <span class="linetext"></span>
    </template>
    <h1>Trunkless</h1>
    <script src="/main.js"></script>
    <div id="pagecontrols">
      <a href="/about">about</a>
      <a id="togglescheme" href="/#togglescheme">light|dark</a>
    </div>
    <p id="poemcontrols">
      <button is="poem-regenner">regenerate unpinned lines</button>
      <button is="poem-resetter">new</button>
      <button id="save">save</button>
    </p>
    <div is="poem-lines"></div>
    <div>
      <button is="line-adder">add</button>
    </div>
  </body>
</html>

