<!DOCTYPE html>
<html>
  <head>
    <title>Trunkless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
<style>
@font-face {
  font-family: "cutive";
  src: url("/cutive.ttf");
}

body {
  font-family: "cutive", monospace;
  font-size:125%;
  background-color: white;
  color: black;
  background-image: url("/bg_light.gif");
}

.main {
  background-color: white;
  border: 1px solid grey;
  padding: 5px;
  max-width: 1200px;
}

#about {
  background-color: white;
  display: none;
  color: black;
}

h1 {
  background-color: white;
}


a {
  color: black;
}

.controls {
  margin: 0;
  margin-bottom:4px;
  font-size:100%;
}

.controls form {
  background-color: white;
}

.rainbow {
  animation-name: rainbow;
  animation-duration: 1s;
}

@keyframes rainbow-top-border {
  20%{border-top: 2px solid red;}
  20%{border-top: 2px solid orange;}
  60%{border-top: 2px solid yellow;}
  80%{border-top: 2px solid green;}
  100%{border-top: 2px solid blue;}
}

@keyframes rainbow {
  20%{color: red;}
  40%{color: orange;}
  60%{color: yellow;}
  80%{color: green;}
  100%{color: blue;}
}
</style>
  </head>
  <body>
    <template id="line-editor-tmpl">
      <form style="display:inline">
        <input type="text" name="editedLine" style="min-width: 30em; max-width:40em">
        <input type="submit" style="display: none">
      </form>
    </template>
    <template id="linetmpl">
      <style>
        .linetext {
          font-size: 100%;
        }
        div.source {
          font-size: 60%;
          font-style: oblique;
          padding-left: 10px;
          text-align: right;
        }
        .linetext:hover {
          cursor: auto;
        }
        .line {
          border-top: 2px solid rgba(0,0,0,0);
        }
        .line.movetarget {
          border-top: 2px solid grey;
        }
        .line:hover {
          background-color: rgba(125,125,125,.40);
        }
        .cont {
          cursor: grab;
        }
        div.linectrl {
          text-align: right;
        }
        div.linectrl button {
          /*width: 60px;*/
          height: 25px;
        }
        div.line:not(.unpinned) .linetext {
          font-weight: bold;
        }
        
        button.pinned {
          font-weight:bold;
        }
      </style>
      <div class="cont" style="display: grid; grid-template-columns: 80% 20%">
        <div>
          <span class="linetext"></span>
        </div>
        <div class="linectrl">
          <button is="line-regenner">&circlearrowright;</button><button is="line-editor">&#9998;</button><button is="line-pinner">&#128274;</button><button is="line-remover">&#128465;</button>
        </div>
      </div>
      <div is="source-text" class="source"></div>
    </template>

    <div style="display:grid; grid-template-columns: repeat(3, 1fr); grid-auto-rows: minmax(100px, auto); gap: 10px;">
      <div style="grid-column: 1 / 3; grid-row: 1">
        <h1 style="display:inline-block;margin:0">Trunkless</h1>
      </div>
      <div style="grid-column: 3; grid-row: 1; text-align: right; font-size:150%">
        <span class="corner" style="background:white; padding-right:1em; padding-left:1em; padding-bottom: .5em">
        <a style="font-weight: bold" is="about-toggler"></a>
        <a class="bordered" style="border: 1px solid black; padding: 0 6px 0 6px" is="theme-toggler"></a>
        </span>
      </div>
    </div>
    <div id="about">
    <p>
      HELLO. THIS IS A <a href="https://github.com/vilmibm/trunkless">SOFT WARE</a> FOR MAKING <a href="https://en.wikipedia.org/wiki/Cut-up_technique">CUT-UP POETRY</a>. THERE ARE A VARIETY OF CORPORA TO CHOOSE FROM:
    </p>
    <ul>
      <li><code>gutenberg</code>, THE ENTIRE ENGLISH CONTENT OF <a href="https://gutenberg.org">PROJECT GUTENBERG</a>. IT IS UNABRIDGED: BE WARNED.</li>
      <li><code>geocities</code>, THE EXTRACTED TEXT OF <a href="https://wiki.archiveteam.org/index.php/GeoCities">THE GEOCITIES ARCHIVE</a>. IT IS UNABRIDGED: BE WARNED.</li>
      <li><code>gamefaqs</code>, TWENTY YEARS WORTH OF PLAINTEXT FAQS/GUIDES FROM <a href="https://gamefaqs.com">GAMEFAQS</a>.</li>
      <li><code>cyberpunk</code>, THE TEXT OF THIRTY-ONE <a href="https://archive.org/details/cbprop/page/n43/mode/2up">CYBERPUNK NOVELS</a>.</li>
      <li><code>lovecraft</code>, THE TEXT OF SIXTY-SEVEN <a href="https://github.com/vilmibm/lovecraftcorpus/tree/master">LOVECRAFT STORIES</a>.</li>
    </ul>
    <p>
      I AM OPEN TO ADDING MORE CORPORA! PLEASE <a href="https://github.com/vilmibm/trunkless/issues">OPEN AN ISSUE</a> TO MAKE REQUESTS</a>.
    </p>
    <p>
      THE AUTHOR OF THIS SOFT WARE IS <a href="https://tilde.town/~vilmibm">~VILMIBM</a>.
    </p>
    </div>
    <div class="controls">
      <label for="corpus-select">corpus:</label>
      <select is="corpus-picker" id="corpus-select">
          {{$selected := .SelectedCorpus}}
          {{range .Corpora}}
            {{if eq $selected .ID}}
              <option selected="selected" value="{{.ID}}">{{.Name}} ({{.MaxID}} possible lines)</option>
            {{else}}
              <option value="{{.ID}}">{{.Name}} ({{.MaxID}} possible lines)</option>
            {{end}}
          {{end}}
      </select>
    </div>
    <div class="main">
      <div style="margin-bottom: 5px">
        <button is="poem-regenner">&circlearrowright; regenerate lines</button>
        <button is="poem-resetter"></button>
      <form is="poem-saver" style="border-right: 1px solid grey;border-bottom: 1px solid grey;border-left: 1px solid grey; display:inline; padding:4px;">
        <button class="copy" type="submit">copy</button>
        <button class="save" type="submit">save</button>
        <input name="type" value="text" type="radio" checked />as text
        <input name="type" value="image" type="radio"/>as image
        <input name="sources" type="checkbox"/>include sources
      </form>
      </div>
      <div is="poem-lines"></div>
      <div>
        <button is="line-adder" title="add new line">add new line</button>
      </div>
    </div>
    <script src="/html2canvas.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
