<div class="linecontainer unpinned" hx-trigger="regen" hx-swap="outerHTML" hx-get="/line">
  <span class="linecontrols">
    <button>pin</button>
    <button>edit</button>
    <button>move</button>
    <button>remove</button>
  </span>
  <span class="linetext" data-source="{{.Source.Name}}">{{.Text}}</span>
</div>
